<p>
  <h3 id="photos"><%= @title + " (" + @item.photos.count.to_s + ")" %>:</h3>
  <% unless @item.photos.any? %>
    No photos yet!
  <% end %>
  <table class="table table-striped table-hover">
    <tbody>
      <% @item.photos.each_slice(8) do |photos| %>
        <tr>
          <% photos.each do |photo| %>
            <td><center>
              <%= link_to photo do %>
                <%= image_tag photo.image_url.thumb.url %><br>
                <%= photo.view_count %> &#664;
                <%= photo.like_count %> &#9829;
              <% end %>
            </center></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
