<% if user_signed_in? %>
  <div class="pull-right">
    <%= link_to 'Post new photo', new_photo_path, :class => "btn btn-success" %>
  </div>
<% end %>

<h1> <%= @title %> </h1>

<table class="table table-striped table-hover">
  <tbody>
    <% @photos.each_slice(8) do |photos| %>
      <tr>
        <% photos.each do |photo| %>
          <td><center>
            <%= link_to photo do %>
              <%= image_tag photo.image_url.thumb.url %><br>

              <!-- Show number of views, like, cats, and reports (if any) -->
              <%= photo.view_count %> &#8635; <!-- CLOCKWISE OPEN CIRCLE ARROW -->
              <%= photo.like_count %> &hearts;
              <%= photo.cats.size %> &#128049; <!-- cats -->
              <% if photo.is_reported? %>
                <% if can? :report_photo, photo or can? :test, photo %>
                  <%= photo.report_count %> &#9888; <!-- WARNING SIGN -->
                <% end %>
                <% if can? :manage, photo or can? :test, photo %>
                  </br>
                  <span class="label label-warning"> REPORTED </span>
                <% end %>
              <%end%>
              <% if current_user == photo.user %>
                  </br>
                  <span class="label label-info"> Yours! </span>
              <% end %>
              <% if photo.is_new? %>
                  </br>
                  <span class="label label-success"> new </span>
              <% end %>
            <% end %>
          </center></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
