<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.image_url %>
</p>

<p>
  <%= link_to "by " + @photo.user.username, @photo.user if @photo.user %>
</p>

<p>
  <%= @photo.caption %>
</p>

<p>
  <%= @photo.view_count %> <%= (@photo.view_count == 1) ? "view" : "views" %>
</p>

<p>
  <%= @photo.like_count %> <%= (@photo.like_count == 1) ? "like" : "likes" %>
</p>

<p>
  <strong>Cats featured in this photo:</strong>
  <ul>
  <% @photo.cats.each do |cat| %>
    <li><%= link_to cat.catname, cat %>
  <% end %>
  </ul>
</p>

<p>
  <strong>Tags: </strong>
  <% @photo.hashtags.each do |tag| %>
    <%= link_to tag.tag, tag %>; 
  <% end %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
