<div class="panel panel-default">
  <div class="panel-body">
    <center>
      <%= image_tag @photo.image_url %><br><br>
    </center>
    <%= link_to "by " + @photo.user.username, @photo.user if @photo.user %>
    <br><br>
    <% unless @photo.caption.blank? %>
      <blockquote>
        <p><%= @photo.caption %></p>
      </blockquote>
    <% end %>

    <% if @photo.cats.any? %>
      <h3>Cats featured in this photo:</h3>
      <% @photo.cats.each_slice(4) do |cats| %>
        <div class="row">
          <% cats.each do |cat| %>
            <%= link_to cat do %>
              <div class="col-lg-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <%= cat.catname %>
                  </div>
                  <div class="panel-body">
                    <center>
                      <%= image_tag cat.photos.last.image_url.thumb.url %>
                    </center>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="pull-right">
      <% if user_signed_in? and (current_user == @photo.user or current_user.is_admin?)%>
        <%= link_to "Edit", edit_photo_path(@photo), :class => "btn btn-warning" %>
        <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <div class="panel-footer">
    <% @photo.hashtags.each do |tag| %>
      <%= link_to "#" + tag.tag, tag %>
    <% end %>
    &nbsp;
    <div class="pull-right">
      <% if user_signed_in? and current_user != @photo.user %>
        <%= link_to "Report", report_photo_path(@photo), :class => "btn btn-xs btn-danger" %> &nbsp;
        <%= link_to "Like", like_photo_path(@photo), :class => "btn btn-xs btn-success" %> &nbsp;
      <% end %>
      <%= @photo.view_count %> &#664;
      <%= @photo.like_count %> &#9829;
    </div>
  </div>
</div>
