<div class="panel panel-default">
  <div class="panel-body">
    <center>
      <%= image_tag @photo.image_url %><br><br>
    </center>
    <%= link_to "by " + @photo.user.username, @photo.user if @photo.user %>
    <br><br>
    <% unless @photo.caption.blank? %>
      <blockquote>
        <p><%= @photo.caption %></p>
      </blockquote>
    <% end %>

    <% if @photo.cats.any? %>
      <h3>Cats featured in this photo:</h3>
      <% @photo.cats.each_slice(4) do |cats| %>
        <div class="row">
          <% cats.each do |cat| %>
            <%= link_to cat do %>
              <div class="col-lg-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <%= cat.catname %>
                  </div>
                  <div class="panel-body">
                    <center>
                      <%= image_tag cat.photos.last.image_url.thumb.url %>
                    </center>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="pull-right">
      <!-- Managing buttons (Edit, Delete) -->
      <% if can? :manage, @photo or can? :test, @photo %>
        <%= link_to "Edit", edit_photo_path(@photo), :class => "btn btn-warning" %>
        <%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure to delete this photo?' }, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <div class="panel-footer">
    <% @photo.hashtags.each do |tag| %>
      <%= link_to "#" + tag.tag, tag %>
    <% end %>
    &nbsp;
    <div class="pull-right">
      <!-- buttons to like, report and reset the reports (if any) -->
      <% if current_user != @photo.user %>
        <% if can? :like_photo, @photo or can? :test, @photo %>
          <%= link_to 'Like', like_photo_path(@photo), id: "like", class: "btn btn-xs btn-success", remote: true %> &nbsp;

          <%= link_to "Like", like_photo_path(@photo), :class => "btn btn-xs btn-success" %> &nbsp;
        <% end %>
        <% if can? :report_photo, @photo or can? :test, @photo %>
          <%= link_to "Report", report_photo_path, data: { confirm: 'Are you sure to report this photo?' }, :class => "btn btn-xs btn-danger" %> &nbsp;
        <% end %>
        <% if @photo.is_reported? and (can? :reset_report_photo, @photo or can? :test, @photo) %>
          <%= link_to "Reset reports (" + @photo.report_count.to_s + ")", reset_photo_path(@photo), data: { confirm: 'Are you sure to reset the report count of this photo?' }, :class => "btn btn-xs btn-danger" %> &nbsp;
        <% end %>
      <% end %>

      <!-- Show number of views, like, and reports (if any) -->
      <%= @photo.view_count %> &#8635; <!-- CLOCKWISE OPEN CIRCLE ARROW -->
      <span id="like_count"><%= @photo.like_count %></span> &hearts;
      <%= @photo.cats.size %> &#128049;
      <% if @photo.is_reported? %>
        <% if can? :report_photo, @photo or can? :test, @photo %>
          <%= @photo.report_count %> &#9888; <!-- WARNING SIGN -->
        <% end %>
        <% if can? :manage, @photo or can? :test, @photo %>
          <span class="label label-warning"> REPORTED </span>
        <% end %>
      <%end%>
      <% if current_user == @photo.user %>
        <span class="label label-info"> Yours! </span>
      <% end %>
      <% if @photo.is_new? %>
        <span class="label label-success"> new </span>
      <% end %>
    </div>
  </div>
</div>
