<div class="pull-right">
  <%= link_to "Return to " + @user.username + "'s profile", @user, :class => "btn btn-info" %>
</div>

<h1>Ban User <%= @user.username %></h1>

<%= form_for @user, url: {controller: "users", action: "ban_update"}, method: "put", class: "ban_form", :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-dismissible alert-danger" id="error_explanation">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well bs-component">
    <fieldset>
      <div class="form-group">
        <div class="col-lg-12">
          <p>
            Enter the date until which the user must be banned (format: YYYY-MM-DD or DD/MM/YYYY). Dates before the current date or empty value will unban the user.
          </p>
        </br>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Ban until", :class=> "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= date_field(:user, :banned_until) %><br><br>
        </div>
      </div>

      <div class="form-group actions">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Ban User", :class => "btn btn-danger" %>
        </div>
      </div>
    </fieldset>
  </div>
<% end %>
