<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr >
      <th></th>
      <th>Username</th>
      <th>Cats</th>
      <th>Photos</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if (user.avatar_url != "") %>
            <img src="<%=user.avatar_url%>" alt="Av." style="height:20px;">
          <% end %>
        </td>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to user.cats.count, cats_path %></td> <!-- TODO: cats/photos of users only -->
        <td><%= link_to user.photos.count, photos_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
