<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr >
      <th></th>
      <th>Username</th>
      <th>Cats</th>
      <th>Photos</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if (user.avatar_url != "") %>
            <img src="<%=user.avatar_url%>" alt="Av." style="height:20px;">
          <% end %>
        </td>
        <td><%= link_to user.username, user %></td>
        <!-- Would be better, but doesn't work coz of # char transformed to '%25' -->
        <!-- <%= link_to user.cats.count, user_show_section_path(user.id, "cats") %> -->
        <td> <a href=<%=user_path(user.id)%>#cats>   <%= user.cats.count %>   </a> </td>
        <td> <a href=<%=user_path(user.id)%>#photos> <%= user.photos.count %> </a> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
