<p id="notice"><%= notice %></p>

<h1> <%= @user.username %> </h1>

<p>
  <% if (@user.avatar_url != "") %>
  	<img src="<%=@user.avatar_url%>" alt="broken avatar link" style="height:100px;">
  <% end %>
</p>

<p>
  <strong>Biography:</strong>
  <p>
  	<%= @user.biography %>
  <p>
</p>

<p>
  <strong>Joined at: </strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Photo count :</strong>
  <%= @user.photos.count %>
</p>

<p>
  <strong>Cats count : </strong>
  <%= @user.cats.count %>
</p>

<p>
  Admin panel: 
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  Ban interface:
  <% if (@user.is_banned) %>
    User is BANNED until <%= @user.banned_until %>.
  <% else %>
    User is not banned.
  <% end %>
  <%= link_to 'Ban user menu', ban_user_path(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
