<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="pull-right">
      <br>
      <% if user_signed_in? and current_user.is_admin? %>
        <%= link_to 'Ban', ban_user_path(@user), :class => "btn btn-danger" %>
        <%= link_to 'Edit Roles', edit_roles_user_path(@user), :class => "btn btn-info" %>
      <% end %>
      <% if user_signed_in? and (current_user == @user or current_user.is_admin?)%>
        <%= link_to "Edit", edit_user_path(@user), :class => "btn btn-warning" %>
        <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      <% end %>
    </div>
    <h1>
      <%= @user.username %>
      <% if @user.roles_as_text.include? "admin" %>
        <span class="label label-info">Admin</span>
      <% end %>
    </h1>
  </div>
  <div class="panel-body">
    <% if (@user.is_banned) %>
      <div class="alert alert-dismissible alert-danger">
        User is <strong>banned</strong> until <%= @user.banned_until %>
      </div>
    <% end %>
    <% unless @user.avatar_url.blank? %>
      <%= image_tag @user.avatar_url, :style => "height:100px;" %>
    <% end %>
    <% unless @user.biography.blank? %>
      <blockquote>
        <%= @user.biography %>
      </blockquote>
    <% end %>
    <strong>Joined at:</strong> <%= @user.created_at %>

    <%= render 'cats/grid' %>

    <%= render 'photos/grid' %>
  </div>
</div>
