<%= form_for(@cat) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :catname, 'Cat Name' %><br>
    <%= f.text_field :catname %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :birth_time %><br>
    <%= f.date_select :birth_time, :order => [:day, :month, :year], :start_year => 1990, :end_year => Date.today.year %>
  </div>
  <div class="btn-group" data-toggle="buttons-radio">
    Is this your cat?<br>
    <%= f.radio_button :user_id, 1, :id=>"moi", :style=>"display:none;" %>
    <label for="Yes" class="btn btn-primary">1: Yes</label>
    <%= f.radio_button :user_id, 2, :id=>"pas moi", :style=>"display:none;" %>
    <label for="No" class="btn btn-primary">2: No</label>
  </div>
  
  <div class="field">
    <%= f.label :user_id, 'Owner' %><br>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
