<%= form_for @cat, :html => {:class => "form-horizontal"} do |f| %>
  <% if @cat.errors.any? %>
    <div class="alert alert-dismissible alert-danger" id="error_explanation">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>
      <ul>
        <% @cat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well bs-component">
    <fieldset>
      <div class="form-group">
        <%= f.label :catname, 'Cat Name', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :catname, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :description, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :city, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :city, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :birth_time, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.date_select :birth_time, :order => [:day, :month, :year], :start_year => 1990, :end_year => Date.today.year, :class => "form-control" %>
        </div>
      </div>

      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <!-- admin can assign any ownership -->
          <div class="form-group">
            <%= f.label "Has an owner?", :class => "col-lg-2 control-label" %>
            <div class="col-lg-10">
              <%= f.radio_button :user_id, @cat.user_id %>
              <%= f.label :user_id, "Yes", :value => :user_id %><br>
              
              <%= f.collection_select :user_id, User.all, :id, :username, {}, {:class => "form-control"} %><br>
              <!-- admin can remove ownership -->
              <%= f.radio_button :user_id, nil %>
              <%= f.label :user_id, "No", :value => nil %>
            </div>
        <% else %>
          <!-- user & new cat: your cat or ownerless cat? -->
          <% if @cat.new_record? %> 
            <div class="form-group">
              <%= f.label "Is this your cat?", :class => "col-lg-2 control-label" %>
              <div class="col-lg-10">
                <%= f.radio_button :user_id, current_user.id %>
                <%= f.label :user_id, "Yes", :value => current_user.id %><br>
                <%= f.radio_button :user_id, nil %>
                <%= f.label :user_id, "No", :value => nil %>
              </div>
            </div>
          <!-- user & existing cat: possibility to abandon the cat -->
          <% else %>
            <div class="form-group">
              <%= f.label "Abandon your cat?", :class => "col-lg-2 control-label" %>
              <div class="col-lg-10">
                <%= f.radio_button :user_id, current_user.id %>
                <%= f.label :user_id, "No", :value => current_user.id %><br>
                <%= f.radio_button :user_id, nil %>
                <%= f.label :user_id, "Yes", :value => nil %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="form-group actions">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit @cat.new_record? ? "Create Cat" : "Edit Cat" , :class => "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  </div>
<% end %>
