<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Listing Cats</h1>

  <% @cats.each_slice(4) do |cats| %>
    <div class="row">
      <% cats.each do |cat| %>
        <%= link_to cat do %>
          <div class="col-lg-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <%= cat.catname %>
                  <% unless cat.city.blank? %>
                    <small>from <%= cat.city %></small>
                  <% end %>
                  <div class="pull-right">
                    <% if cat.user and cat.user.username == "moi" %>
                      <span class="label label-success">Yours!</span>
                    <% elsif not cat.user %>
                      <span class="label label-warning">Ownerless</span>
                    <% end %>
                  </div>
              </div>
              <div class="panel-body">
                <center>
                  <% if cat.photos.last %>
                    <%= image_tag(cat.photos.last.image_url.thumb.url) %>
                  <% end %>
                </center>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Catname</th>
        <th>Description</th>
        <th>City</th>
        <th>Birth time</th>
        <th>Owner</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cats.each do |cat| %>
        <tr>
          <td><%= cat.catname %></td>
          <td><%= cat.description %></td>
          <td><%= cat.city %></td>
          <td><%= cat.birth_time %></td>
          <td><%= link_to cat.user.username, cat.user if cat.user %></td>
          <td><%= link_to 'Show', cat %></td>
          <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
          <td><%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Cat', new_cat_path %>
</div>
