<p id="notice"><%= notice %></p>

<h1><%= @cat.catname %></h1>

<!-- shows profile photo of cat, if any -->
<p>
  <% if (@profile_photo != "") %>
    <%= link_to(image_tag(@profile_photo.image_url.thumb.url), @profile_photo) %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @cat.city %>
</p>

<p>
  <strong>Birth time:</strong>
  <%= @cat.birth_time %>
</p>

<%= render 'photos/grid' %>

<p>
<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
</p>
