<p id="notice"><%= notice %></p>

<h1><%= @cat.catname %></h1>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @cat.city %>
</p>

<p>
  <strong>Birth time:</strong>
  <%= @cat.birth_time %>
</p>

<p>
  <strong>Featured in:</strong>
  <ul>
    <% unless @cat.photos.any? %>
      No photos yet!
    <% end %>
    <% @cat.photos.each do |photo| %>
      <li><%= photo.image_url %>
    <% end %>
  <ul>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
